<!-- Эти стили нужны для сортировки -->
<p>{{rows[0]}}</p>


<solo-table items-on-page = "20" make-sortable ng-init="update()" ng-cloak >

	<input placeholder="Filter by all columns" type="text" name="id" ng-model="filterModel">

	<!-- Показываем данные пейджинга: сколько всего страниц, на какой находимся, сколько записей во всей таблице -->
	<div>Page {{pager.currentPage}} of {{pager.foundPages}}. Total items:  {{pager.found}}</div>

	<!-- Эта таблица обязательно  должна присутствовать в директиве solo-table, что, в общем то, очевидно. -->
	<table class="table table-striped table-bordered" ng-cloak ng-if="rows">
		<thead>
		<tr>
			<!-- У каждой колонки, которую мы хотим сортировать,
			нужно указать директиву sort-by='имя_поля_из_solo-table-data' -->
			<th sort-by='id'>Id</th>
			<th sort-by='date_from'>Period</th>
			<th sort-by='name'>Name</th>
			<th>Address</th>
			<th>зп</th>
		</tr>
		</thead>

		<!--

		В атрибуте контроллера "original" содержатся все данные, предоставленные провайдером solo-table-data.
		В атрибуте "filtered" - данные из original, к которым применен фильтр

		Для подветки найденной подстроки используется директива ng-bind-html-unsafe
		-->
		<tr ng-repeat="item in filtered = (rows | filter:filterModel)" >
			<td ng-bind-html="item.company|highlight:filterModel" class="bold"></td>
			<td>{{item.date_from}}</td>
			<td>
				<a href="{{item.url}}" target="blank" ng-bind-html="item.title|highlight:filterModel"></a>
			</td>
			<td ng-bind-html="item.short_info|highlight:filterModel"></td>
			<td ng-bind-html="item.zp|highlight:filterModel"></td>
		</tr>

	</table>
	<!-- Здесь реализован переход по страницам -->
	<div>
		<a href="" solo-table-first-page ng-click="gotoFirstPage()">First page | </a>
		<a href="" ng-click="gotoPrevPage()"> &larr;prev | </a>
		<a href="" ng-click="gotoNextPage()">next &rarr; | </a>
		<a href="" ng-click="gotoLastPage()">Last page </a>
	</div>

</solo-table>


		
