.jumbotron-slideshow {
    position: relative;
    background-color: transparent;  // replace the standard bootstrap background color

    .slideshow {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        /* Layer the images so that the visible one is below all the others,
         * but the previously active one fades out to reveal the visible one
         * below */
        transition: opacity 1s;
        opacity: 1;
        
        &.visible {
            transition: none;
            opacity: 0.5;
            z-index: -1;
        }
    }   
}       

header{
    min-height: 400px;
}
.lang-selector{
    float: right;
}
.lang-selector > button{
    height: 22px;
}

.header-contact{
    background: #0F7171;
    float: left;
    font-size: 12px;
    line-height: 1.7;
    height: 22px;
    border-radius: 3px;
}
.header-contact a {
    display: inline-block;
    padding: 0 10px;
    border-radius: 3px; color: #fff;
    opacity: 0.7;

}
.header-contact a:hover {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.navbar-transparent {
    margin-top: 30px;
    background-color: transparent !important;
}

.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-brand {
    font-family: Marmelad;
}

.navbar-default .navbar-nav > li > a {
    color: #adadad;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: transparent;
    background-image: none;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    font-weight: 800;
}

.navbar-default{
    background-image: none;
    border: none;
}
.navbar-collapse {
    padding-right: 0;
}
.navbar-brand > img {
    display: none;
}
.nav_portreit{
    float: left;
    margin: -15px 5px 0 0;
    height: 50px;
}

.header-avatar{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.header-avatar .avatar-flip{
    width: 140px;
    height: 140px;
    background-image: url('../images/p2.jpg'), url('../images/p3.jpg');
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
}
.header-avatar .avatar-flip:hover{
    background-image: url('../images/p3.jpg'), url('../images/p2.jpg');
}

.header-description{
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
    color: #FFF;
    background-color: rgba(15, 113, 113, 0.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header-social-links{
    list-style-type: none;
    display: block;
    padding-left: 0;
}
.header-social-links li{
    display: inline-block;
    float: none;
    width: auto;
}
.header-social-links li a{
    display: block;
    font-size: 20px;
}
.header-social-links .btn {
    padding: 3px 9px;
}
.header-social-links li:nth-of-type(1) .btn-primary {
    background: #007bb6;
}
.header-social-links li:nth-of-type(2) .btn-primary {
    background: #96C04B;
}
.header-social-links li:nth-of-type(3) .btn-primary {
    background: #00aff0;
}
.header-social-links li:nth-of-type(4) .btn-primary {
    background: #FFF;
    color: #000;
}