portfolio {{controllerName}}

<pre>{{portfolio}}</pre>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
		
			<md-card ng-repeat="card in portfolio" ng-if="$odd">
				<md-card-title>
				  <md-card-title-text>
				    <span class="md-headline">{{card.title}}</span>
				    <!-- <span class="md-subhead">Small</span> -->
				  </md-card-title-text>
				</md-card-title>
				<md-card-title-media>
					<!-- <div class="md-media-sm card-media"></div> -->
					<img ng-src="images/{{card.img}}" class="md-card-image" alt="{{card.img}}">
				</md-card-title-media>
				<md-card-content layout="row">
					<p>
						{{card.text}}
					</p>
					<md-card-actions layout="column" layout-align="start">
					  <md-button>Action 1 re eyryry e</md-button>
					  <md-button>Action 2</md-button>
					</md-card-actions>
				</md-card-content>
			</md-card>
      
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
     

    </div>
  </md-content>